<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Cm</th>
            <th scope="col">22</th>
            <th scope="col">22.5</th>
            <th scope="col">23</th>
            <th scope="col">23.5</th>
            <th scope="col">24</th>
            <th scope="col">24.5</th>
            <th scope="col">25</th>
            <th scope="col">26</th>
            <th scope="col">27</th>
            <th scope="col">27.5</th>
            <th scope="col">28</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">US</th>
            <td>3.5</td>
            <td>4</td>
            <td>4.5</td>
            <td>5</td>
            <td>5.5</td>
            <td>6</td>
            <td>7</td>
            <td>7.5</td>
            <td>8</td>
            <td>8.5</td>
            <td>9</td>
        </tr>
        <tr>
            <th scope="row">Việt Nam</th>
            <td>35</td>
            <td>36</td>
            <td>37</td>
            <td>38</td>
            <td>38.5</td>
            <td>39</td>
            <td>40</td>
            <td>41</td>
            <td>42</td>
            <td>43</td>
            <td>44</td>
        </tr>
    </tbody>
</table>